<%- include('partials/preLoginHeader.html') %>

<div
  class="px-0 py-5 text-center border-bottom"
  id="main-Hero"
  style="height: 690px"
>
  <h1 class="display-4 mt-5 fw-bold text-light">Welcome to Vishwa Bank</h1>
  <div class="col-lg-6 mx-auto">
    <p class="lead mb-4">
      Welcome to Vishwa Bank's online platform! We're excited to offer you, as a
      valued member of our team, a seamless and comprehensive suite of financial
      services that cater to your diverse needs, all accessible conveniently
      through our user-friendly online platform.
    </p>
    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5">
      <a href="/login" class="btn btn-primary btn-lg px-4 me-sm-3"> Log In </a>
    </div>
  </div>
</div>

<%- include('partials/footer.html') %>
