html,
body,
h1,
h2,
h3,
h4,
h5,
p,
div {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

/* FOR PRELOGIN PAGE */

#main-Hero {
  background-image: url("/images/PreHome.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
